<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viaje - 게시판</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/board.css">
</head>
<body>
<div class="container">
  <div class="board-container">
    <div class="board-header">
      <h1>Viaje 게시판</h1>
      <p>여행 경험을 공유해보세요</p>
    </div>
    <div class="board-content">
      <table>
        <thead>
        <tr>
          <th>번호</th>
          <th>플랜 ID</th>
          <th>유저 ID</th>
          <th>제목</th>
          <th>작성일</th>
          <th>수정일</th>
          <th>조회수</th>
          <th>좋아요 수</th>
          <th>상태</th>
        </tr>
        </thead>
        <tbody id="board-content">
        <tr th:each="board : ${boardList}">
          <td th:text="${board.boardId}"></td>
          <td th:text="${board.travelPlans.planId}"></td>
          <td th:text="${board.user.userId}"></td>
          <td>
            <a th:href="@{/product_detail/{id}(id=${board.travelPlans.planId})}" th:text="${board.travelPlans.title}"></a>
          </td>
          <td th:text="${board.createdAt}"></td>
          <td th:text="${board.updatedAt}"></td>
          <td th:text="${board.viewCount}"></td>
          <td th:text="${board.likeCount}"></td>
          <td th:text="${board.boardStatus}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="board-footer">
      <button class="write-btn" onclick="location.href='/board/write'">글쓰기 <i class="fas fa-pen"></i></button>
    </div>
  </div>
</div>
</body>
</html>
