<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- SDK 추가 -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <title>결제 페이지</title>
    <link rel="stylesheet" href="/static/css/charge.css">
</head>
<body style="background: url('/static/images/chargeImage1.png') no-repeat center center fixed; background-size: cover;">
<div class="logo-container">
    <h1><a th:href="@{/}" class="logo">Viaje</a></h1>
</div>
<div class="user-container">
    <a th:href="@{/mypage}" class="user-link" th:text="${session.userName}">000님</a>
</div>
<div class="pointcharge">
    <form action="/requestcharge" method="post" onsubmit="return validateForm()">
        <p>Viaje 포인트 충전</p>
        <label class="box-radio-input">
            <input type="radio" name="chargeAmount" value="5000">
            <span>5,000원</span>
        </label>
        <label class="box-radio-input">
            <input type="radio" name="chargeAmount" value="10000">
            <span>10,000원</span>
        </label>
        <label class="box-radio-input">
            <input type="radio" name="chargeAmount" value="20000">
            <span>20,000원</span>
        </label>
        <label class="box-radio-input">
            <input type="radio" name="chargeAmount" value="30000">
            <span>30,000원</span>
        </label>
        <label class="box-radio-input">
            <input type="radio" name="chargeAmount" value="50000">
            <span>50,000원</span>
        </label>
        <p>Viaje 최소 충전금액은 5,000원이며 <br/>최대 충전금액은 50,000원 입니다.</p>
        <button class="button" type="submit">결제하기</button>
    </form>
</div>

<script>
    function validateForm() {
        var selected = document.querySelector('input[name="chargeAmount"]:checked');
        if (!selected) {
            alert('충전할 금액을 선택해주세요.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>
