<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script defer src="/static/js/login.js"></script>
</head>
<body>
<div class="background"></div>
<div class="container">
    <form id="loginForm" class="form" onsubmit="return false" autocomplete="off">
        <div class="form-inner">
            <h2>User Login</h2>
            <div class="input-wrapper">
                <label for="login-username">Username</label>
                <div class="input-group">
                    <span class="icon">
                        <svg viewBox="0 0 24 24">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"/>
                        </svg>
                    </span>
                    <input type="text" id="login-username" name="username" required>
                </div>
            </div>
            <div class="input-wrapper">
                <label for="login-password">Password</label>
                <div class="input-group">
                    <span class="icon">
                        <svg viewBox="0 0 24 24">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"/>
                        </svg>
                    </span>
                    <input type="password" id="login-password" name="password" required>
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn--primary">Sign In</button>
                <a href="#" class="btn--text">Forgot password?</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
