<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 Page</title>
    <script>
        // 로그인 요청
        function login() {
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/login", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 로그인 성공 시
                    alert("로그인 성공!");
                    window.location.href = "/"; // 로그인 성공 후 리디렉션
                } else if (xhr.readyState === 4) {
                    // 로그인 실패 시
                    alert("로그인 실패: " + xhr.responseText);
                }
            };

            const data = JSON.stringify({ "email": email, "password": password });
            xhr.send(data);
        }
    </script>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<!--<h2>로그인</h2>-->
<form id="loginForm" onsubmit="event.preventDefault(); login();">
    <div class="form-group">
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">로그인</button>
</form>
</body>
</html>