<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>나의 경험을 너도 해봐!</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="video-container">
  <video autoplay muted loop id="background-video">
    <source id="video-source" type="video/mp4">
  </video>
  <div class="content">
    <h1>Welcome to Viaje</h1>
    <p>My Plan? Your Experience!</p>
  </div>
</div>
<button id="bounce-button">
  <img id="scroll-icon" src="/static/images/book.png" alt="Scroll Down" class="scroll-icon">
</button>
<div id="slide-up-content">
  <div id="slide-up-inner-content">
    <!-- start.html 파일 내용이 여기 로드됨. -->
  </div>
</div>
<!-- 햄버거 메뉴 아이콘 추가 -->
<div class="hamburger-menu">
  <img id="hamburger-icon" src="/static/images/hamburger.png" alt="Menu" class="hamburger-icon">
</div>
<div id="menu-content" class="menu-content">
  <div id="menu-inner-content">
    <!-- menu.html 파일 내용이 여기 로드됨. -->
  </div>
</div>
<script src="/static/js/start.js"></script>
<script src="/static/js/main.js"></script> <!-- main.js 파일 추가 -->
</body>
</html>
