<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/menu.css">
    <title>Menu</title>
</head>
<body>
<div class="menu-container">
    <h1 class="team-name">Viaje</h1>
    <div class="menu-item login"><a href="login">로그인</a></div>
    <div class="menu-item join"><a href="join">회원 가입</a></div>
    <div class="admin-container">
        <div class="menu-item small"><a href="admin.html">관리자</a></div>
    </div>
</div>

<script src="/static/js/main.js"></script>
<script src="/static/js/start.js"></script>
</body>
</html>