<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/menu.css">
    <title>Menu</title>
</head>
<body data-user="${session?.user != null ? session.user : ''}">
<div class="menu-container" id="menuContainer">
    <h1 class="team-name">Viaje</h1>
    <div class="menu-item login" th:if="${session?.user == null}">
        <a href="login">로그인</a>
    </div>
    <div class="menu-item join" th:if="${session?.user == null}">
        <a href="join">회원 가입</a>
    </div>
    <div class="menu-item mypage" th:if="${session?.user != null}">
        <a href="mypage">마이페이지</a>
    </div>
    <div class="menu-item cart" th:if="${session?.user != null}">
        <a href="cart">장바구니</a>
    </div>
    <div class="menu-item products" th:if="${session?.user != null}">
        <a href="products">상품</a>
    </div>
    <div class="menu-item board" th:if="${session?.user != null}">
        <a href="board.html">게시판</a>
    </div>
    <div class="menu-item logout" th:if="${session?.user != null}">
        <a href="/logout">로그아웃</a>
    </div>
    <div class="admin-container">
        <div class="menu-item small">
            <a href="admin.html">관리자</a>
        </div>
    </div>
</div>

<script src="/static/js/menu.js"></script>
</body>
</html>