<body>
<div class="menu-container">
    <h1 class="team-name">Viaje</h1>
    <div class="menu-item login" data-if-not-logged-in>
        <a href="login">로그인</a>
    </div>
    <div class="menu-item join" data-if-not-logged-in>
        <a href="join">회원 가입</a>
    </div>
    <div class="menu-item mypage" data-if-logged-in>
        <a href="mypage">마이페이지</a>
    </div>
    <div class="menu-item cart" data-if-logged-in>
        <a href="cart">장바구니</a>
    </div>
    <div class="menu-item products" data-if-logged-in>
        <a href="products">상품</a>
    </div>
    <div class="menu-item board" data-if-logged-in>
        <a href="board">게시판</a>
    </div>
    <div class="menu-item logout" data-if-logged-in>
        <a href="/logout">로그아웃</a>
    </div>
    <div class="admin-container">
        <div class="menu-item small">
            <a href="admin.html">관리자</a>
        </div>
    </div>
</div>


<script src="/js/login.js"></script>

</body>
</html>

