<!DOCTYPE html>
<html lang="ko" mlns:th="http://www.thymeleaf.org" xmlns:mlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역 - 여행 계획표 사이트</title>
    <link rel="icon" href="/static/images/icon/orderpay.ico">
    <link rel="stylesheet" href="/static/css/orderHistory.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="order-history-container">
        <div class="order-history-header">
            <h1>주문내역</h1>
            <p>여행 계획표 구매 내역을 확인하세요.</p>
        </div>
        <div class="order-history-content">
            <table>
                <thead>
                <tr>
                    <th>주문번호</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>주문일</th>
                    <th>상태</th>
<!--                    <th>관리</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="ordersItem : ${ordersItemList}">
                    <td><span th:text="${ordersItem.orders.user.uuid}"></span></td>
                    <td><span th:text="${ordersItem.travelPlans.title}"></span></td>
                    <td><span th:text="${ordersItem.orders.total_amount}"></span></td>
                    <td><span th:text="${#temporals.format(ordersItem.orders.orderedAt, 'yyyy-MM-dd HH:mm')}"></span></td>
                    <td><span th:text="${ordersItem.orders.orderStatus}"></span></td>
<!--                    <td><button class="deleteBtn">삭제</button></td>-->
                </tr>
<!--                <tr>-->
<!--                    <td>1002</td>-->
<!--                    <td>파리 5일 여행 계획</td>-->
<!--                    <td>50,000원</td>-->
<!--                    <td>2024-07-11</td>-->
<!--                    <td>진행중</td>-->
<!--                    <td><button class="deleteBtn">삭제</button></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>1003</td>-->
<!--                    <td>뉴욕 7일 여행 계획</td>-->
<!--                    <td>70,000원</td>-->
<!--                    <td>2024-07-12</td>-->
<!--                    <td>대기중</td>-->
<!--                    <td><button class="deleteBtn">삭제</button></td>-->
<!--                </tr>-->
                </tbody>
            </table>
        </div>
        <div class="order-history-footer">
<!--            <button class="submitBtn">새로운 여행 계획 만들기</button>-->
        </div>
    </div>
</div>
</body>
</html>