<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>결제 실패</title>
    <link rel="stylesheet" href="/static/css/order_fail.css">
</head>
<body>
<div class="fail-container">
    <a th:href="@{/}"><h2 class="fail-title">결제 실패</h2></a>
    <div class="fail-content">
        <p id="message" class="clickable"></p>
        <a th:href="@{}"><button id="charge-button">포인트 충전하기</button></a>
    </div>
    <div id="emoji-container"></div>
</div>

<audio id="failure-sound" src="/static/sounds/fail-144746.mp3"></audio>

<script src="/static/js/order_fail.js"></script>
</body>
</html>
