<!DOCTYPE html>
<html lang="ko" mlns:th="http://www.thymeleaf.org" xmlns:mlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역 - 여행 계획표 사이트</title>
    <link rel="icon" href="/static/images/icon/orderpay.ico">
    <link rel="stylesheet" href="/static/css/orderHistory.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="back-btn">
    <img src="/static/images/backback.png" alt="뒤로 가기" onclick="history.back()">
</div>
<div class="container">
    <div class="order-history-container">
        <div class="order-history-header">
            <h1>주문내역</h1>
            <p>여행 계획표 구매 내역을 확인하세요.</p>
        </div>
        <div class="order-history-content">
            <table>
                <thead>
                <tr>
                    <th>주문번호</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>주문일</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ordersItem : ${ordersItemList}">
                    <td><span th:text="${ordersItem.orders.user.uuid}"></span></td>
                    <td><span th:text="${ordersItem.travelPlans.title}"></span></td>
                    <td><span th:text="${ordersItem.orders.total_amount}"></span></td>
                    <td><span th:text="${#temporals.format(ordersItem.orders.orderedAt, 'yyyy-MM-dd HH:mm')}"></span></td>
                    <td><span th:text="${ordersItem.orders.orderStatus}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="order-history-footer">
        </div>
    </div>
</div>
</body>
</html>