<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 내역</title>
    <link rel="icon" href="/static/images/icon/pay.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/payment.css">
</head>
<body>
<div class="top-bar">
    <div class="back-btn">
        <img src="/static/images/backback.png" alt="뒤로 가기" onclick="history.back()">
    </div>
    <h1><a href="/static/templates/main.html">결제 내역</a></h1>
</div>
<main>
    <section class="payment-list" th:each="payment : ${paymentList}">
        <div class="payment-item">
            <div class="payment-info">
                <h2>주문번호: <span th:text="${payment.user.uuid}"></span></h2>
                <p class="date" th:text="${#temporals.format(payment.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
            </div>
            <p class="amount" th:text="${payment.chargeAmount + '원'}"></p>
            <span class="status completed" th:text="${payment.transactionStatus}"></span>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2024 Viaje. All rights reserved.</p>
</footer>
</body>
</html>