<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 게시판 작성</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/qNa.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1 class="logo">Viaje</h1>
        <nav>
            <a th:href="@{/}" class="nav-link">HOME</a>
            <a th:href="@{/mypage}" class="nav-link">MYPAGE</a>
            <a th:href="@{/logout}" class="nav-link">LOGOUT</a>
        </nav>
    </div>
</header>

<main class="content">
    <div class="form-container">
        <div class="board-container">
            <div class="new-post">
                <h2>새 문의글 작성</h2>
                <form id="newPostForm" action="/qnaPost">
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" id="title" name ="title"placeholder="제목을 입력하세요" required>
                    </div>
                    <div class="form-group">
                        <label for="contents">내용</label>
                        <textarea id="contents" rows="8" placeholder="내용을 입력하세요" required></textarea>
                    </div>
                    <button type="submit" class="btn-submit">작성 완료</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/static/js/qNa.js"></script>
</body>
</html>
