<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 게시판 작성</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/qNa.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1>문의게시판 글쓰기</h1>
        <nav>
            <a href="main.html" class="nav-link">HOME</a>
            <a href="qNa_list.html" class="nav-link">LIST</a>
            <a href="/logout" class="nav-link">LOGOUT</a>
        </nav>
    </div>
</header>

<main class="content">
    <div class="image-container">
        <img src="/static/images/mun2.jpg" alt="문의 게시판 이미지">
    </div>
    <div class="form-container">
        <div class="board-container">
            <div class="new-post">
                <h2>새 글 작성</h2>
                <form id="newPostForm">
                    <input type="text" id="postTitle" placeholder="제목" required>
                    <textarea id="postContent" rows="5" placeholder="내용" required></textarea>
                    <button type="submit" class="btn">작성</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/static/js/qNa.js"></script>
</body>
</html>
