<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>
<body>
<h1>Product List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>View Count</th>
    <th>Like Count</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boardList}">
    <td th:text="${board.boardId}"></td>
    <td>
      <a th:href="@{/product_detail/{id}(id=${board.travelPlans.planId})}" th:text="${board.travelPlans.title}"></a>
    </td>
    <td th:text="${board.viewCount}"></td>
    <td th:text="${board.likeCount}"></td>
    <td th:text="${board.boardStatus}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>