<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 페이지</title>
</head>
<body>
<div class="pointcharge" align="center">
    <p style="font-weight: bold">Viaje 포인트 충전</p>
    <label class="box-radio-input"><input type="radio" name="cp_item" value="5000"><span>5,000원</span></label><br>
    <label class="box-radio-input"><input type="radio" name="cp_item" value="10000"><span>10,000원</span></label><br>
    <label class="box-radio-input"><input type="radio" name="cp_item" value="20000"><span>20,000원</span></label><br>
    <label class="box-radio-input"><input type="radio" name="cp_item" value="30000"><span>30,000원</span></label><br>
    <label class="box-radio-input"><input type="radio" name="cp_item" value="50000"><span>50,000원</span></label><br>
    <p  style="color: #ac2925; margin-top: 30px">Viaje 최소 충전금액은 5,000원이며 <br/>최대 충전금액은 50,000원 입니다.</p>
    <button type="button" class="btn btn-outline-dark" id="charge">충 전 하 기</button>
</div>
</body>
</html>