<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>결제 성공</title>
    <link rel="stylesheet" href="/static/css/toss_success.css">
</head>
<body>
<div class="success-container">
    <h2 class="success-title">결제 성공</h2>
    <div class="success-content">
        <p id="amount" class="clickable">충전 금액: 0원</p>
    </div>
    <div id="emoji-container"></div>
</div>

<audio id="explosion-sound" src="/static/sounds/explosin.mp3"></audio>

<script src="/static/js/toss_success.js"></script>
</body>
</html>