<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/menu.css">
    <title>Menu</title>
</head>
<body>
<div class="menu-container" id="menuContainer">
    <h1 class="team-name">Viaje</h1>
    <div id="guestMenu" th:if="${!isLoggedIn}">
        <div class="menu-item login">
            <a href="login">로그인</a>
        </div>
        <div class="menu-item join">
            <a href="yac">회원 가입</a>
        </div>
    </div>
    <div id="userMenu" th:if="${isLoggedIn}">
        <div class="menu-item mypage">
            <a href="mypage">마이페이지</a>
        </div>
        <div class="menu-item cart">
            <a href="cart">장바구니</a>
        </div>
        <div class="menu-item products">
            <a href="products">상품</a>
        </div>
        <div class="menu-item board">
            <a href="/qna">게시판</a> <!-- 수정된 부분 -->
        </div>
    </div>
    <div class="bottom-container">
        <div class="menu-item small admin">
            <a href="admin.html">관리자</a>
        </div>
        <div class="menu-item small logout" th:if="${isLoggedIn}">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</div>
</body>
</html>