@import url('./static/css/main.css');
@import url('./static/css/start.css');
@import url('/static/css/yac.css');
@import url('/static/css/login.css');
@import url('/static/css/join.css');
@import url('/static/css/admin.css');
@import url('/static/css/mypage.css');

/* 공통 스타일 */
* {
  box-sizing: border-box;
}
body {
  /*background-color: #f4f1ff;*/
  /*font-family: 'Noto Sans KR', sans-serif;*/
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}



body {

}

h1 {
  color: #333;
}