body {
  background-color: lavender;  /* 연보라색 배경 추가 */
  font-family: 'Noto Sans KR', sans-serif;
}

.terms {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  margin: 32px auto;
  padding: 40px 19px 100px; /* 여기를 60px로 바꿔도 좋습니다 */
  width: 400px;
  position: relative; /* 부모 요소를 기준으로 자식 요소 위치 설정 */
}

.terms-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin: 8px 0;
  text-align: center;
}

.terms-description {
  color: #a4a4a4;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  margin: 8px 0 16px;
  text-align: center;
}

.terms-content {
  background: #f4f3f8;
  border-radius: 8px;
  font-size: 12px;
  height: 430px;
  overflow: scroll;
  padding: 24px;
}

.terms-content-heading {
  color: #53329B;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 24px;
}

#confirm-button {
  display: block;
  position: absolute; /* 절대 위치 설정 */
  bottom: 32px; /* 부모 요소의 하단에서 10px 위로 (이용약관 버튼 위치조정)*/
  left: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬을 위한 변환 */
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 700;
  background-color: #53329B;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#confirm-button:disabled {
  background-color: #a4a4a4;
  cursor: not-allowed;
}

#confirm-button:not(:disabled):hover {
  background-color: #3e2670;
}
