* {
  box-sizing: border-box;
}

body {
  background-color: #f4f1ff;
  font-family: 'Noto Sans KR', sans-serif;
}

.terms {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  margin: 32px auto;
  padding: 40px 19px 100px;
  width: 400px;
  
}

.terms-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin: 8px 0;
  text-align: center;
}

.terms-description {
  color: #a4a4a4;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  margin: 8px 0 16px;
  text-align: center;
}

.terms-content {
  background: #f4f3f8;
  border-radius: 8px;
  font-size: 12px;
  height: 724px;
  overflow: scroll;
  padding: 24px;
}

.terms-content-heading {
  color: #53329B;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 24px;
}